<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" sizes="196x196" href="icon.ico">
    <link rel="apple-touch-icon" href="icon.ico">
    <link rel="icon" type="image/png" href="icon.ico" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Tasks</title>
</head>

<body>
    <div id="bg">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
    </div>
    <div id="app">
        <div id="top">
            <div id="title">Tasks</div>
            <div class="clock">
                <div id="time-container">
                    <span id="hrs"></span>
                    <span>:</span>
                    <span id="min"></span>
                    <span>:</span>
                    <span id="sec"></span>
                    <span id="session"></span>
                </div>
            </div>

            <div id="actions">
                <!-- <p id="demo" >dark mode</p> -->
                <label class="switch" style="position: absolute;margin-left: 32.4%;margin-top: -6%;">
                    <input id="dark" type="checkbox">
                    <span class="slider round"></span>

                </label>
            </div>

            <input id="entry" maxlength="140" v-model="newTodo" @keydown.enter="addTodo"
                placeholder="Enter Todays  the task.....">
            <button id="add" v-on:click="addTodo">📌</button>
        </div>
        <div id="todos">
            <span class="todo" v-for="(todo, index) in todos" :class="{ completed: todo.completed }">
                <input type="checkbox" v-model="todo.completed">
                <span class="taskContent">{{ todo.text }}</span>
                <button v-on:click="removeTodo(index)" class="delete">💣</button>
            </span>
        </div>

    </div>
    <button id="btnClear" v-on:click="clearLocalStorage">delete ALL tasks </button>
    <div id="subtitle" style="margin-top: 40%;margin-left: -15%;">Made by <b>FARHAN RAYHAN</b> </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
    <script src="dark.js"></script>
    <script src="todos.js"></script>
    <script src="clearStorage.js"></script>
    <script src="time.js"></script>
</body>

</html>