<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="icon.ico"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Tasks</title>
</head>
<body>
    <div id="bg">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
    </div>
    <div id="app">
        <div id="top">
            <div id="title">Tasks</div>
        <input id="entry" maxlength="50" placeholder="Type here" v-model="newTodo" @keydown.enter="addTodo">
        <button id="add" v-on:click="addTodo">+</button>
        </div>
        <div id="todos">
            <span class="todo" v-for="todo in todos" :class="{ completed: todo.completed }">
                <input type="checkbox" v-model="todo.completed">
                {{ todo.text }}
            </span>
        </div>
        <button id="btnClear" onclick="clearLocalStorage()">Clear all tasks</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
