@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    
    font-size: 16px;
}

/* BACKGROUND */
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* /BACKGROUND */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

#top {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#title {
  text-align: center;
  font-size: 4em;
  font-weight: 900;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#entry {
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  outline: none;
  border: none;
  padding: 20px 0;
  font-weight: 500;
  border-radius: 10px;
  width: 1000px;
  color: grey;

  box-shadow: 1px 1px 5px rgb(255,255,255,0.5);
}

#add {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 20px;
  outline: none;
  background: white;
  color: grey;
  box-shadow: 1px 1px 5px rgb(255,255,255,0.5);
}

#add:hover {
  background: black;
  color: white;
}

#todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: white;
}

.delete {
  border: none;
  padding: 5px 10px;
  background: none;
  color: white;
  outline: none;
  font-size: 20px;
}

.todo {
  width: 100%;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed { 
  text-decoration: line-through;
}

#btnClear {
  border: none;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  width: 100%;
  background: rgb(0,0,0,0.8);
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

/* RESPONSIVE */

@media only screen and (max-width: 1200px) {
  #entry {
    padding: 15px 0;
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  #entry {
    padding: 13px 0;
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  #entry {
    padding: 10px 0;
    width: 280px;
  }
}

@media only screen and (max-width: 300px) {
  #entry {
    padding: 10px 0;
    width: 200px;
  }
}

@media only screen and (max-width: 200px) {
  #entry {
    padding: 10px 0;
    width: 150px;
  }
}

/* /RESPONSIVE */